@model BlogApplication.UI.Models.ViewModels.EditTagRequest
@{
    ViewData["Title"] = "Edit Tag - Admin Functionality";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="bg-secondary bg-opacity-10 py-2">
        <div class="container">
            <h1>Edit Tag - Admin Functionality</h1>
        </div>
    </div>

    <div class="container py-5">
        <form method="post">
            <div class="mb-4">
                <label for="id" class="form-label">Id:</label>
                <input type="text" id="id" class="form-control" asp-for="Id" readonly />
            </div>

            <div class="mb-4">
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" class="form-control" asp-for="Name" />
            </div>

            <div class="mb-4">
                <label for="displayName" class="form-label">Display Name:</label>
                <input type="text" id="displayName" class="form-control" asp-for="DisplayName" />
            </div>

            <div class="mb-4">
                @if (Model != null)
                {
                    <div class="d-flex">
                        <button type="submit" class="btn btn-dark">Update</button>
                        <a asp-area="" asp-controller="AdminTags" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger ms-2">Delete</a>
                    </div>
                }
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
