@model List<BlogApplication.UI.Models.Domain.Tag>
@{
    ViewData["Title"] = "Show all Tags - Admin Functionality";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="bg-secondary bg-opacity-10 py-2">
        <div class="container">
            <h1>Show all Tags - Admin Functionality</h1>
        </div>
    </div>

    <div class="container py-5">
        @if (Model != null && Model.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Display Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tag in Model)
                    {
                        <tr>
                            <td>@tag.Id</td>
                            <td>@tag.Name</td>
                            <td>@tag.DisplayName</td>
                            <td>
                                <a asp-area="" asp-controller="AdminTags" asp-action="Edit"
                                   asp-route-id="@tag.Id" class="btn btn-primary">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Tags found! </p>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
