@model BlogApplication.UI.Models.ViewModels.AddBlogPostRequest
@{
    ViewData["Title"] = "Add New Blog Post - Admin Functionality";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.6/css/froala_editor.pkgd.min.css">
</head>
<body>
    <div class="bg-secondary bg-opacity-10 py-2">
        <div class="container">
            <h1>Add New Blog Post - Admin Functionality</h1>
        </div>
    </div>

    <div class="container py-5">
        <form method="post">
            <div class="mb-3">
                <label for="heading" class="form-label">Heading</label>
                <input type="text" class="form-control" id="heading" asp-for="Heading" />
            </div>

            <div class="mb-3">
                <label for="pageTitle" class="form-label">Page Title</label>
                <input type="text" class="form-control" id="pageTitle" asp-for="PageTitle" />
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" id="content" asp-for="Content"></textarea>
            </div>

            <div class="mb-3">
                <label for="shortDescription" class="form-label">Short Description</label>
                <input type="text" class="form-control" id="shortDescription" asp-for="ShortDescription" />
            </div>

            <div class="mb-3">
                <label for="featuredImageUpload" class="form-label">Featured Image Upload</label>
                <input type="file" id="featuredImageUpload" class="form-control" />
                <img src="" id="featuredImageDisplay" style="display:none; width:300px;" />
            </div>

            <div class="mb-3">
                <label for="featuredImageUrl" class="form-label">Featured Image URL</label>
                <input type="text" class="form-control" id="featuredImageUrl" asp-for="ImageUrl" />
            </div>

            <div class="mb-3">
                <label for="urlHandler" class="form-label">URL Handler</label>
                <input type="text" class="form-control" id="urlHandler" asp-for="UrlHandler" />
            </div>

            <div class="mb-3">
                <label for="publishedDate" class="form-label">Published Date</label>
                <input type="date" class="form-control" id="publishedDate" asp-for="PublishedDate" />
            </div>

            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author" asp-for="Author" />
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible" />
                <label class="form-check-label" for="visible">Is Visible?</label>
            </div>

            <div class="mb-3">
                <label for="tags" class="form-label">Tags</label>
                <select class="form-select" asp-items="@Model.Tags" asp-for="SelectedTags">
                </select>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-dark">Save</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.6/js/froala_editor.pkgd.min.js"></script>

    <script>
        var editor = new FroalaEditor('#content', {
            imageUploadURL: '/api/images'
        });

        const featuredImageUploadElement = document.getElementById('featuredImageUpload');
        const featuredImageUrlElement = document.getElementById('featuredImageUrl');
        const featuredImageDisplayElement = document.getElementById('featuredImageDisplay');

        async function uploadFeaturedImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'Accept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    featuredImageUrlElement.value = result.link;
                    featuredImageDisplayElement.src = result.link;
                    featuredImageDisplayElement.style.display = 'block';
                });
        }

        featuredImageUploadElement.addEventListener('change', uploadFeaturedImage);
    </script>
</body>
</html>
